<!doctype html>
<body>
    <h2>Comexim Calculation</h2>
    <form action = "/result" method = "get">
        <label for="band_size">Band Size:</label>
        <select id="band_size" name="band_size">
            <option>24</option>
            <option>26</option>
            <option>28</option>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
            <option>38</option>
            <option>40</option>
            <option>42</option>
            <option>44</option>
            <option>46</option>
            <option>48</option>
            <option>50</option>
        </select>
        <br/>

        <label for="cup_size">Cup Size:</label>
        <select id="cup_size" name="cup_size">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>DD</option>
            <option>E</option>
            <option>F</option>
            <option>FF</option>
            <option>G</option>
            <option>GG</option>
            <option>H</option>
            <option>HH</option>
            <option>J</option>
            <option>JJ</option>
            <option>K</option>
            <option>KK</option>
            <option>L</option>
            <option>LL</option>
            <option>M</option>
            <option>MM</option>
        </select>
        <br/>

        <label for="store_name">Store Name:</label>
        <select id="store_name" name="store_name">
            <option>Comexim</option>
            <option>Breakout Bras</option>
        </select>
        <br/>

        <input type="submit" value="Submit" />
    </form>
</body>
